- page_title _('Deploy Keys')
- if @deploy_keys.any?
  %h3.page-title.deploy-keys-title
    = _('Public deploy keys (%{deploy_keys_count})') % { deploy_keys_count: @deploy_keys.load.size }
    = link_to _('New deploy key'), new_admin_deploy_key_path, class: 'float-right btn gl-button btn-success btn-md gl-button'
  .table-holder.deploy-keys-list
    %table.table
      %thead
        %tr
          %th.col-sm-2= _('Title')
          %th.col-sm-4= _('Fingerprint')
          %th.col-sm-2= _('Projects with write access')
          %th.col-sm-2= _('Added at')
          %th.col-sm-2
      %tbody
        - @deploy_keys.each do |deploy_key|
          %tr
            %td
              %strong= deploy_key.title
            %td
              %code.key-fingerprint= deploy_key.fingerprint
            %td
              - deploy_key.projects_with_write_access.each do |project|
                = link_to project.full_name, admin_project_path(project), class: 'label deploy-project-label'
            %td
              %span.cgray
                = _('added %{created_at_timeago}').html_safe % { created_at_timeago: time_ago_with_tooltip(deploy_key.created_at) }
            %td
              .float-right
                = link_to _('Edit'), edit_admin_deploy_key_path(deploy_key), class: 'btn gl-button btn-sm'
                = link_to _('Remove'), admin_deploy_key_path(deploy_key), data: { confirm: _('Are you sure?') }, method: :delete, class: 'btn gl-button btn-sm btn-remove delete-key'
- else
  = render 'shared/empty_states/deploy_keys'
